{% extends 'layout.html' %}

{% block content %}
<h2>Ajouter un client</h2>
<form method="post">
    <div class="mb-3">
        <label for="nom" class="form-label">Nom</label>
        <input type="text" class="form-control" name="nom" required>
    </div>
    <div class="mb-3">
        <label for="telephone" class="form-label">Téléphone</label>
        <input type="text" class="form-control" name="telephone">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" name="email">
    </div>
    <button type="submit" class="btn btn-success">Ajouter</button>
</form>
{% endblock %}
